<ul class="nav main-deck-nav">
  <li class="nav-item">
    <a class="nav-link active" href="<%= MasterDecksHelper.PathToMasterDeck(master_deck) %>"><i class="fad fa-clone"></i> Cards</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= MasterDecksHelper.PathToMasterDeck(master_deck) %>/branches"><i class="fad fa-code-branch"></i> Branches</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= MasterDecksHelper.PathToMasterDeck(master_deck) %>/settings"><i class="fad fa-cog"></i> Settings</a>
  </li>
</ul>
