<div class="card-body">
    <div class="row">
      
      <% for card in head_deck.cards 
        
        %>
      
        <%= if card != "{}" 
              render(MtgCardComponent.new(scryfall_id: card['scryfall_id'], display_size: 'normal', content: '')) 
            end %>
      
      <%  end %>
      
    </div>
    
  </div>