

<%= form_with model: @branch, class: "form", url: "/decks/#{@master_deck.slug}/branch" do |f| %>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Branch From</label>
    <%= select("branched_from",  @current_branches.collect {|b| [ b.name, b.id ] }, 
        { include_blank: false }, :class => "form-control selectpicker", :data_style => "btn btn-link" ) %>
  </div>
  <%= f.text_field :name %>
  <%= f.submit "Create" %>
<% end %>

