
<table class="table">
    <thead>
        <tr>
            <th>Deck Name</th>
            <th>Deck Type</th>
            <th>Colors</th>
            <th>Cost</th>
            <th class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
      <% for master_deck in master_decks  
          if can_show_master_deck(master_deck) %>
        <tr>
            
            <td><%= render partial: "master_decks/deck_link", locals: { master_deck: master_deck, deck_user: user } %></td>
            <td>commander</td>
            <td><%= PrettyMagic::ManaIcons.add_icons_to_text("{W}{B}").html_safe %></td>
            <td>$$$$</td>
            <td class="td-actions text-right">
                <%= render partial: "master_decks/table_actions", locals: { master_deck: master_deck, deck_user: user } %>
            </td>
        </tr>
        <% end
        end %>
    </tbody>
</table>