<div class="row">
    
    <div class="col-md-8">
        STATS!
        
    </div>
    <div class="col-md-2">
        
    </div>
    <div class="col-md-2">
    <div class="info">
	<div class="icon icon-primary">
		<i class="fad fa-info-square"></i>
	</div>
	<h4 class="info-title">About This Deck</h4>
	<p>Deck description will go here.</p>
    </div>
    </div>
</div>
