<%= link_to master_deck.name, MasterDecksHelper.PathToMasterDeck(master_deck) %> 
<% if master_deck.is_public? %>
    <span class="badge badge-success">Public</span>
<% else %> 
    <span class="badge badge-default">Private</span>
<% end %>