
<ul class="nav">
    <% for master_deck in MasterDeck.where(:user => deck_user).order('id desc').limit(5) %>
    <li class="nav-item ">
      <a class="nav-link" href="<%= MasterDecksHelper.PathToMasterDeck(master_deck) %>">
        <span class="sidebar-mini"> <i class="fad fa-layer-group"></i> </span>
        <span class="sidebar-normal"> <%= master_deck.name %></span>
      </a>
    </li>
    <% end %>
    <li class="nav-item ">
      <a class="nav-link" href="<%= UsersHelper.PathToUser(deck_user) %>">
        <span class="sidebar-mini"> <i class="fad fa-layer-group"></i> </span>
        <span class="sidebar-normal"> View All Your Decks</span>
      </a>
    </li>
</ul>