<button type="button" rel="tooltip" class="btn btn-info">
    <i class="fa fa-copy"></i>
</button>
<button type="button" rel="tooltip" class="btn btn-success">
    <i class="fa fa-heart"></i>
</button>
<button type="button" rel="tooltip" class="btn btn-danger">
    <i class="fa fa-share-alt"></i>
</button>