<% content_for :body_style do %>
product-page
<% end %>

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/u/<%= @deck_user.slug %>"><%= @deck_user.username %></a></li>
  </ol>
</nav>

<%= render "all_decks_table" %>