<div class="card card-nav-tabs" style="width: 20rem;">
  <div class="card-header card-header-danger">
    Decks for user
  </div>
  <ul class="list-group list-group-flush">
      
    <% for master_deck in @master_decks  %>
      <li class="list-group-item"><%= link_to master_deck.name, "/u/#{@deck_user.slug}/decks/#{master_deck.slug}" %></li>
    <% end %>
    
  </ul>
</div>

