<% content_for :body_style do %>
product-page
<% end %>


<%= if @show_full_breadcrumbs 
      breadcrumbs(@master_deck.user, @master_deck, @selected_branch)
    else
      breadcrumbs(@master_deck.user, @master_deck)
    end %>

<%= render partial: "master_decks/deck_stats", locals: { master_deck: @master_deck, branch: @selected_branch } %>

<div class="row"> 

<%= render partial: "branches/view", locals: { master_deck: @master_deck, branch: @selected_branch } %>

</div> 
