
        <% 
        # Create a hash of the branches where they need to go.
        branch_hash = Hash.new{|h,k| h[k] = [] }
        for branch_me in @master_deck.branches
            # add the branch to the proper spot on the hash
            branch_hash[(branch_me.branched_from['source_deck'].nil?) ? 0 : branch_me.branched_from['source_deck']].push(branch_me.id)
            # now create a line that can be referenced by the JS
            %>
            
        <% end %>
    <div id="graph-container"></div>

    <%= dashboard_timeline(@master_deck) %>


<% content_for :page_script do %>


    // Get the graph container HTML element.
    const graphContainer = document.getElementById("graph-container");
    
  

    // Instantiate the graph.
    const gitgraph = GitgraphJS.createGitgraph(graphContainer);
 
    
    // Simulate git commands with Gitgraph API.

    
    <%=  git_graph(@master_deck)  %>
    
    


<% end %>