             <% 
        # Create a hash of the branches where they need to go.
        branch_hash = Hash.new{|h,k| h[k] = [] }
        for branch_me in @master_deck.branches
            # add the branch to the proper spot on the hash
            branch_hash[(branch_me.branched_from['source_deck'].nil?) ? 0 : branch_me.branched_from['source_deck']].push(branch_me.id)
            # now create a line that can be referenced by the JS
        end
            %>
            
<%= breadcrumbs(@master_deck.user, @master_deck) %>

<div class="row">
    <div class="col-md-6">
        <div class="card card-nav-tabs">
            <div class="card-header card-header-success"><i class="fad fa-code-branch"></i> Graph</div>
            <div class="card-body">
                <div id="graph-container"></div>
            </div>
        </div>
        
    </div>
    <div class="col-md-6">
        <div class="card card-nav-tabs card-plain">
            <div class="card-header card-header-info"><i class="fad fa-stream"></i> Timeline</div>
            <div class="card-body">
                <%= dashboard_timeline(@master_deck) %>
            </div>
            
            
        </div>
    </div>
</div>


    


<% content_for :page_script do %>


    // Get the graph container HTML element.
    const graphContainer = document.getElementById("graph-container");
    
  

    // Instantiate the graph.
    const gitgraph = GitgraphJS.createGitgraph(graphContainer);
 
    
    // Simulate git commands with Gitgraph API.

    
    <%=  git_graph(@master_deck)  %>
    
    


<% end %>