/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self

 */
 
 @import "material-dashboard/variables";


.label-on {
  display: none;
}
input:checked ~ .label-off {
  display: none;
}
input:checked ~ .label-on {
  display: inline;
}

.main-deck-nav {
  border-bottom: 1px solid $purple-300;

}

.main-deck-nav a {
  
  border-bottom: 1px solid $purple-300;
  
}

.main-deck-nav a:hover {
  color: $blue-grey-400;
  border-bottom: 1px solid $blue-grey-600;
  
}

.forked-from-link {
  font-size: $font-size-small;
  margin-left: 15px;
  margin-top: -30px;
}

.row-chart-btn {
  margin-bottom: -15px;
  
}

.quick-mana {
  
  background: $grey-300;
  color: $primary;
  border: 1px solid $grey-400;
  border-radius: 3px;
  padding: 2%;
  margin-right: 10px;
  
}

.hidden-card-list {
  display: none;
  
}

.card-header-form label, .card-header-form input, .card-header-form .dropdown-toggle, .card-header-form .filter-option-inner-inner {
  color: $grey-200;
  
}

.card-header-form .bmd-form-group label {
  
  color: $grey-200;
}

.card-header-form .form-control:focus {
  color: $grey-300;
  
}

.card-header-form .easy-autocomplete-container {
  color: $primary;
  
}

.mtgcard {
  padding: 5px;
  
}

.mtgcard img {
  max-width:100%;
  height:auto;
  border-radius: 8px;
}

.error-card-list {
  width: 100%;
  
}

.error-card-list li {
  display: block;
  width: 200px;
  border-radius: 5px;
  padding: 5px;
  background-color: $grey-200;
}

.error-card-list li label {
  color: $grey-800;
  
}

.error-card-list li:hover {
  background-color: $grey-400;
  
}
.error-card-list li:hover label {
  color: $primary;
  
}

.error-card-list img {
  max-width:100%;
  height:auto;
  border-radius: 4px;
  float: left;
  
}