/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self

 */
 
 @import "material-dashboard/variables";


.label-on {
  display: none;
}
input:checked ~ .label-off {
  display: none;
}
input:checked ~ .label-on {
  display: inline;
}

.main-deck-nav {
  border-bottom: 1px solid $blue-grey-200;
  
}

.main-deck-nav a:hover {
  color: $blue-grey-400;
  border-bottom: 1px solid $blue-grey-600;
  
}

.forked-from-link {
  font-size: $font-size-small;
  margin-left: 15px;
  margin-top: -30px;
}

.row-chart-btn {
  margin-bottom: -15px;
  
}